* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.timerView {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .time {
    font-size: 120px;
  }
}
